@tailwind base;
@tailwind components;
@tailwind utilities;

.Card {
	@apply w-48 h-64 shadow-lg rounded-lg flex-none transform transition-all hover:translate-y-4 hover:shadow-2xl;
}

.CardTitle {
	@apply text-3xl px-8 pt-8 pb-2 font-semibold text-white;
}

@layer utilities {
	@variants responsive {
		/* Hide scrollbar for Chrome, Safari and Opera */
		.no-scrollbar::-webkit-scrollbar {
			display: none;
		}

		/* Hide scrollbar for IE, Edge and Firefox */
		.no-scrollbar {
			-ms-overflow-style: none; /* IE and Edge */
			scrollbar-width: none; /* Firefox */
		}
	}
}
